*{
	/*font-family: 'Alfa Slab One', cursive;*/
	font-family: 'Yeon Sung', cursive;
	box-sizing: border-box;
}
header{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 100px;
	border-bottom: 5px solid #000;
	padding: 10px;
}

.logo{
	margin-top: -18px;
}

h1{
	display: block;
	font-family: 'Alfa Slab One', cursive;
	font-size: 60px;
}

h2{
	margin: 10px;
}

.name{
	line-height: 0;
}

main{
	text-align: center;
}

.pizza{
	display: flex;
	justify-content: space-around;
}

.base{
	padding: 10px;
	height: 570px;
}

.base img{
	width: 500px;
}

.rightSide{
	width: 30%;
}

.ingrediens{
	display: flex;
	justify-content: space-around;
}

.item{
	/*display: flex;
	line-height: 70px;*/
	margin-bottom: 30px;
}

.size{
	display: flex;
	justify-content: space-around;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 10px;
}

.cost{
	color: red;
	font-size: 30px;
	font-weight: 600;
	line-height: 70px;
}

#slider-wrap{ /* Îáîëî÷êà ñëàéäåðà è êíîïîê */	
	width:960px;
	margin: 0 auto;
}

#slider{ /* Îáîëî÷êà ñëàéäåðà */	
	width:940px;	
	height:360px;	
	overflow: hidden;  	
	position:relative;	
	border:#eee solid 10px;
}
#slider img {	
	width:940px;	
	height:360px;
}

.slide{ /* Ñëàéä */	width:100%;	height:100%;	}

.sli-links{ margin-top:10px;	text-align:center;}

.sli-links .control-slide{	
	margin:2px;	
	display:inline-block;	
	width:16px;	height:16px;	
	overflow:hidden;	
	text-indent:-9999px;
	background:url(../img/slider/radioBg.png) center bottom no-repeat;
}

.sli-links .control-slide:hover{	
	cursor:pointer;	
	background-position:center center;
}

.sli-links .control-slide.active{	background-position:center top;}

#prewbutton, #nextbutton{
	display:block;	
	width:15px;	
	height:100%;	
	position:absolute;	
	top:0;	
	overflow:hidden;	
	text-indent:-999px;	
	opacity:0.8;	
	z-index:3;	
	outline:none !important;
	background:url(../img/slider/arrowBg.png) left center no-repeat;	
}

#prewbutton{left:10px;}
#nextbutton{
	right:10px;
	background:url(../img/slider/arrowBg.png) right center no-repeat;
}
#prewbutton:hover, #nextbutton:hover{opacity:1;}
.z1text {	
	font-size: 20px;
	color: #fff;
	background: #1800FF;
	border: 1px solid #0C00E2;
	width: 300px;
	margin-top: 230px;
	border-right: 0px;
	right: 0px;
	position: absolute;
	padding: 12px 10px;
	background: rgb(0,84,163);
	background: -moz-linear-gradient(top, rgba(0,84,163,1) 0%, rgba(0,42,160,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,84,163,1)), color-stop(100%,rgba(0,42,160,1)));
	background: -webkit-linear-gradient(top, rgba(0,84,163,1) 0%,rgba(0,42,160,1) 100%);
	background: -o-linear-gradient(top, rgba(0,84,163,1) 0%,rgba(0,42,160,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,84,163,1) 0%,rgba(0,42,160,1) 100%);
	background: linear-gradient(to bottom, rgba(0,84,163,1) 0%,rgba(0,42,160,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0054a3', endColorstr='#002aa0',GradientType=0 );
}
