*{
	font-family: Arial;
}

.calc{
	background: #000;
	width: 300px;
	height: 420px;
	
}

#screen{
	width: 285px;
	height: 60px;
	padding: 0 5px;
	color: #fff;
	font-size: 50px;
	text-align: right;	
	line-height: 65px;
}

.rowBtn{
	display: flex;
	justify-content: space-around;
	width: 300px;
	height: 70px;
}

.btn{
	display: block;
	background: rgb(50, 50, 50);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	color: rgb(251, 251, 251);
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	line-height: 3;
	margin: auto 0;
	cursor: pointer;
}

.btnBig{
	display: block;
	background: rgb(50, 50, 50);
	width: 140px;
	height: 60px;
	border-radius: 30px;
	color: rgb(251, 251, 251);
	font-size: 20px;
	font-weight: 600;
	text-align: center;
	line-height: 3;
	margin: auto 0;
	cursor: pointer;
}

.btn:last-child{
	background: rgb(253, 147, 1);
	color: rgb(251, 251, 251);
}